%h1{:class=>"tableTitle", :style => 'width: 900px; margin: 0px auto; color:red;'} Редактирование - Транспорт оплата перевозчику нал
%br/
- if notice
  %div{:style => 'width: 400px; margin: 0px auto; color: red;'}= notice
%br
= render 'carrier_payment_cash_form'
