%h1{:class=>"tableTitle", :style => 'width: 600px; margin: 0px auto; color:red;'} Редактирование - Приход прочий
%br/
- if notice
  %div{:style => 'width: 400px; margin: 0px auto; color: red;'}= notice
%br
= render 'income_others_form'
