%h1{:class=>"tableTitle", :style => 'width: 750px; margin: 0px auto; color:red;'} Добавление - Транспорт оплата заказчиком безнал
%br/
- if notice
  %div{:style => 'width: 400px; margin: 0px auto; color: red;'}= notice
%br
= render 'income_others_form'
