%h1{:class=>"tableTitle", :style => 'width: 500px; margin: 0px auto; color:red;'} Добавление - Расход прочий
%br/
- if notice
  %div{:style => 'width: 400px; margin: 0px auto; color: red;'}= notice
%br
= render 'outcome_others_form'
